.row {
    background-color: $color-secundario;
    margin: 35px;
  }
  
  div img {
    border: solid 5px $color-quinario;
    height: 400px;
    width: 500px;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 40px;
  }
  
  div p {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-terciario;
    color: $color-quinario;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 3px $color-quinario;
    border-left: solid 3px $color-quinario;
    border-right: solid 3px $color-quinario;

    & a {
      text-decoration: underline;
      color: $color-cuaternario;
    }
  }
  
  .textos {
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-left: 50px;
  }
  
  div h3 {
    font-weight: bold;
    color: $color-cuaternario;
    text-align: center;
    font-size: 30px;
  }
  
  .lema {
    border-bottom: solid 1px $color-quinario;
  }
  
  div h4 {
    color: $color-quinario;
    font-weight: bold;
    text-align: center;
    font-size: 13px;

    & a {
      color: $color-cuaternario;
      font-weight: bold;
      text-align: center;
      font-size: 13px;
      text-decoration: underline;
    }
  }
    div h5 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $color-terciario;
    color: $color-cuaternario;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border: solid 3px $color-quinario;
  }