nav{
    background-color: $color-quinario;
    height: 80px;
    width: 100%;

    & ul{
      float: right;
      margin-right: 20px;

      & li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;

        & a{
          color: $color-cuaternario;
          font-size: 18px;
          text-decoration: none;
          padding: 7px 13px;
          text-transform: uppercase;

          &.active, &:hover{
            color: $color-terciario;
          }
        }
      }
    }
  }
  
  .enlace{
    position: absolute;
    padding: 10px 50px;
  }
  
  .logo{
    height: 70px;
    width: 160px;
  }


  
