@media screen and (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: $color-secundario;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;

        & li{
            display: block;
            margin: 50px 0px;
            line-height: 30px;

            & a{
                font-size: 20px;

                &:hover, &.active{
                    background-color: none;
                    color: $color-terciario;
                }
            }
        }
    }

    #check:checked ~ul{
        left: 0;
    }
  
    div img{
        height: 350px;
        width: 350px;
        margin-left: 10px;
    }
  
    .textos{
        padding-right: 50px;
        padding-left: 50px;
        margin: 0px;

        & h3{
            font-size: 20px;
            margin-top: 25px;
        }
      
        & h4{
            font-size: 10px;
        }
      
        & a{
            font-size: 10px;
        }
      
        & h5{
            border-radius: 0;
        }
      
        & p{
            border-radius: 0;
            font-size: 20px;
            margin: 0px;

            & a{
                font-size: 20px;
            }
        }
    }

    .descripcion__foto{
        margin-bottom: 20px;        
    }
  
    .grid div a img{
        margin-left: 100px;
        margin-bottom: 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        transition: width 1s;
    }
  }

  @media screen and (max-width: 925px){
    .enlace{
        padding-left: 20px;
    }
  
    nav ul li a{
        font-size: 16px;
    }
  
    div img{
        margin-left: 0;
        width: 380px;
    }
  
    .textos{
        padding-right: 50px;
        padding-left: 50px;
        margin: 0px;

        & h3{
            margin-top: 25px;
        }
      
        & p{
            margin: 0px;
        }
    }

    .descripcion__foto{
        margin-bottom: 20px;        
    }
  
    .grid div a img{
        margin-right: 0px;
        margin-bottom: 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
    }
  }