/* Este es mi archivo principal de SASS */
/* Importando los parciales de mis estilos */
/* Mapas y el Each */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0;
  background: linear-gradient(90deg, #833ab4 0%, #ef8dae 50%, #466efc 100%);
}

nav {
  background-color: #000000;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active, nav ul li a:hover {
  color: #EA89AE;
  transition: .5s;
}

.enlace {
  position: absolute;
  padding: 10px 50px;
}

.logo {
  height: 70px;
  width: 160px;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

header nav {
  background-color: #000000;
  height: 80px;
  width: 100%;
}

header nav .enlace {
  position: absolute;
  padding: 10px 50px;
}

header nav .logo {
  height: 70px;
  width: 160px;
}

header nav nav ul {
  float: right;
  margin-right: 20px;
}

header nav nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

header nav nav ul li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

header nav nav ul li a.active, header nav nav ul li a:hover {
  color: #EA89AE;
  transition: .5s;
}

header nav .checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

header nav #check {
  display: none;
}

.row {
  background-color: #646464;
  margin: 35px;
}

div img {
  border: solid 5px #000000;
  height: 400px;
  width: 500px;
  margin-bottom: 5px;
  margin-top: 50px;
  margin-left: 40px;
}

div p {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #EA89AE;
  color: #000000;
  font-size: 20px;
  text-align: center;
  border-bottom: solid 3px #000000;
  border-left: solid 3px #000000;
  border-right: solid 3px #000000;
}

div p a {
  text-decoration: underline;
  color: #ffffff;
}

.textos {
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 100px;
  padding-left: 50px;
}

div h3 {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.lema {
  border-bottom: solid 1px #000000;
}

div h4 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

div h4 a {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  text-decoration: underline;
}

div h5 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #EA89AE;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border: solid 3px #000000;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

footer h2 {
  font-size: 25px;
  text-align: center;
  border-bottom: solid 1px #646464;
}

footer h3 {
  font-size: 10px;
  text-align: center;
  border-top: solid 1px #646464;
}

.grid {
  display: flex;
}

.grid div a img {
  margin-left: 160px;
  margin-bottom: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: width 1s;
}

.grid div a img:hover {
  width: 55px;
}

@media screen and (max-width: 858px) {
  .checkbtn {
    color: white;
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #646464;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover, nav ul li a.active {
    background-color: none;
    color: #EA89AE;
  }
  #check:checked ~ ul {
    left: 0;
  }
  div img {
    height: 350px;
    width: 300px;
    margin: 25px;
  }
  .textos {
    padding-right: 50px;
    padding-left: 50px;
    margin: 0px;
  }
  .textos h3 {
    font-size: 20px;
    margin-top: 25px;
  }
  .textos h4 {
    font-size: 10px;
  }
  .textos a {
    font-size: 10px;
  }
  .textos h5 {
    padding: 0;
    font-size: 20px;
    border-radius: 0;
  }
  .textos p {
    border-radius: 0;
    font-size: 15px;
    margin: 0px;
  }
  .textos p a {
    font-size: 15px;
  }
  .descripcion__foto {
    margin-bottom: 20px;
  }
  .grid div a img {
    margin-left: 100px;
    margin-bottom: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 925px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  div img {
    margin-left: 0;
    width: 380px;
  }
  .textos {
    padding-right: 50px;
    padding-left: 50px;
    margin: 0px;
  }
  .textos h3 {
    margin-top: 25px;
  }
  .textos h5 {
    font-size: 20px;
  }
  .textos p {
    margin: 0px;
  }
  .descripcion__foto {
    margin-bottom: 20px;
  }
  .grid div a img {
    margin-left: 110px;
    margin-bottom: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */