/* Este es mi archivo principal de SASS */
/* Importando los parciales de mis estilos */
/* Mapas y el Each */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0;
  background: linear-gradient(90deg, #833ab4 0%, #ef8dae 50%, #466efc 100%);
}

header {
  background-color: #000000;
  width: 100%;
}

.logo {
  margin-left: 25px;
  width: 190px;
  height: 80px;
}

ul {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
}

ul li {
  display: inline;
}

ul li a {
  margin-left: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover {
  color: #EA89AE;
}

.active {
  color: #EA89AE;
}

.row {
  background-color: #646464;
  margin: 35px;
}

div img {
  border: solid 5px #000000;
  height: 400px;
  width: 500px;
  margin-bottom: 5px;
  margin-top: 50px;
  margin-left: 40px;
}

div p {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #EA89AE;
  color: #000000;
  font-size: 20px;
  text-align: center;
  border-bottom: solid 3px #000000;
  border-left: solid 3px #000000;
  border-right: solid 3px #000000;
}

div p a {
  text-decoration: underline;
  color: #ffffff;
}

.textos {
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 100px;
  padding-left: 50px;
}

div h3 {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.lema {
  border-bottom: solid 1px #000000;
}

div h4 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

div h4 a {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  text-decoration: underline;
}

div h5 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #EA89AE;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border: solid 3px #000000;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

footer h2 {
  font-size: 25px;
  text-align: center;
  border-bottom: solid 1px #646464;
}

footer h3 {
  font-size: 10px;
  text-align: center;
  border-top: solid 1px #646464;
}

.grid {
  display: flex;
}

.grid div a img {
  margin-left: 160px;
  margin-bottom: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: width 1s;
}

.grid div a img:hover {
  width: 55px;
}

@media screen and (max-width: 600px) {
  nav ul {
    margin-bottom: 0;
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    font-size: 15px;
    margin-left: 20px;
    padding: 0;
  }
  nav ul li a:hover, nav ul li a.active {
    background-color: none;
    color: #EA89AE;
  }
  .enlace {
    position: relative;
    margin: 45px;
  }
  .logo {
    margin-left: 190px;
    height: 60px;
    width: 120px;
  }
  div img {
    border: solid black 3px;
    height: 200px;
    width: 300px;
    margin-left: 100px;
    margin-top: 15px;
  }
  .textos {
    padding-right: 50px;
    padding-left: 50px;
    margin: 0px;
  }
  .textos h3 {
    font-size: 20px;
    margin-top: 25px;
  }
  .textos h4 {
    font-size: 10px;
  }
  .textos a {
    font-size: 10px;
  }
  .textos h5 {
    padding: 0;
    font-size: 20px;
    border-radius: 0;
  }
  .textos p {
    border-radius: 0;
    font-size: 15px;
    margin: 0px;
  }
  .textos p a {
    font-size: 15px;
  }
  .descripcion__foto {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .descripcion__foto a {
    font-size: 10px;
  }
  footer h2 {
    font-size: 20px;
  }
  footer h3 {
    font-size: 10px;
  }
  .grid {
    display: block;
  }
  .grid div a img {
    margin-left: 270px;
    margin-bottom: 20px;
    display: block;
    width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */